{{template "header" .context}}
        <h1> Beer </h1>

	<table class="btable">
	    <tr>
	        <th>Name</th>
	        <td>{{ .beer.Name }}</td>
	    </tr>
	    <tr>
	        <th>Brewdate</th>
	        <td>{{ .beer.Brewdate }}</td>
	    </tr>
	</table>
{{template "footer"}}

